<form [formGroup]="form" (ngSubmit)="registrar()" #frmUsuario="ngForm">
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         Datos Personales
        </mat-panel-title>
        <mat-panel-description>
         Digite los datos personales del cliente
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
          <input matInput placeholder="Nombres" formControlName="nombres">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Apellidos" formControlName="apellidos">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="DNI" formControlName="dni" maxlength="8">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="correo" maxlength="120">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [max]="maxFecha" formControlName="fechaNac">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos del Usuario
        </mat-panel-title>
        <mat-panel-description>
          Digite los datos de acceso al sistema
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
          <input matInput placeholder="Nombre de Usuario" formControlName="usuario">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" name="password" placeholder="Contraseña" formControlName="password" [formGroup]="form"
            required> 
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Repetir contraseña" formControlName="confirmPassword" [formGroup]="form"
            required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">Registrar</button>  
        <button mat-raised-button color="accent" type="button" (click)="cancelar()">Cancelar</button>
    </mat-expansion-panel>
</mat-accordion>
</form>
    
    
